@page "/portfolio"
@inject IJSRuntime js

<PageTitle>Портфолио</PageTitle>

<div class="page">
    <PortfolioSection ShowMore=true />
    <RequestSection />
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        js.InvokeVoidAsync("setHeaderFixed");
    }
}