@page "/services-and-prices"

<PageTitle>Услуги и цены</PageTitle>

<div class="services__wrapper">
    <h1 class="services-page__title">услуги и цены</h1>

    <ServicesSection />

    <PricesSection />

    <RequestSection />
</div>
