.services-page__title {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #777777;
    letter-spacing: 0.08em;
    text-align: center;
}

    .services-page__title:first-child{
        padding-top: 50px;
    }

    .services-page__title:focus {
        outline: none;
    }

@media (max-width: 450px) {
    .services-page__title {
        font-size: 1.875rem;
    }

    .services__wrapper {
        padding-top: 120px;
    }
}
