@page "/portfolio/work"
@inject IJSRuntime js

<PageTitle>Работа</PageTitle>

<div class="page">
    <WorkTopSection />

    <WorkCharacteristicsSection Item="AppData.RoomSpecifics" />

    <WorkCarouselSection />

    <WorkTaskSection />

    <WorkSpecificsSection />

    <WorkSimilarSection />

    <RequestSection />
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        js.InvokeVoidAsync("setHeaderFixed");
    }
}