@page "/portfolio/work"

<PageTitle>Работа</PageTitle>

<div class="page">
    <WorkTopSection />

    <WorkCharacteristicsSection Item="AppData.RoomSpecifics" />

    <WorkCarouselSection />

    <WorkTaskSection />

    <WorkSpecificsSection />

    <WorkSimilarSection />

    <RequestSection />
</div>