@inherits LayoutComponentBase

@*<Header />*@

<main class="page" @onscroll="OnScroll">
    <article class="page__content">
        @Body
    </article>
</main>

@code{
    private void OnScroll()
    {
        Console.WriteLine("Scrolling...");
    }
}