@inject IJSRuntime js

<button class=@((Active) ? "burger active" : "burger")
        @onclick="OnClick"
        type="button" aria-label="Переключить меню">
    <span></span>
    <span></span>
    <span></span>
</button>

@code{
    public bool Active { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }

    public async void ToggleBurger()
    {
        Active = !Active;

        if (Active)
        {
            await js.InvokeVoidAsync("disableBody");
        }
        else
        {
            await js.InvokeVoidAsync("enableBody");
        }
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}