<div class="contacts">
    <div class="contacts__item">
        <Telephone />
    </div>
    <div class="contacts__item">
        <img src="images/icons/email.png" alt="Почта" />
        <a href="mailto:ladesign@inbox.ru"><span class="underline">ladesign@inbox.ru</span></a>
    </div>
    <div class="contacts__item">
        <img src="images/icons/clock.png" alt="Часы работы" />
        <span>Пн - Сб 9:00 — 18:00</span>
    </div>
    <div class="contacts__item">
        <img src="images/icons/clock.png" alt="Адрес" />
        <span>г. Краснодар, ул. Братьев Игнатовых, 1/1</span>
    </div>
</div>

@code {

}
