@inject IJSRuntime js

<dialog class="modal" @ref="dialog" @onclick="CloseModal" @onclick:stopPropagation @attributes="InputAttributes" aria-hidden="true" tabindex="-1">
    <div class="modal__content" @onclick:stopPropagation>
        @ChildContent
        <button class="modal__close" @onclick="CloseModal">&#10006;</button>
    </div>
</dialog>

@code {
    private ElementReference dialog;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public Dictionary<string, object>? InputAttributes { get; set; }

    public async void OpenModal()
    {
        await js.InvokeVoidAsync("openModal", dialog);
    }

    public async void CloseModal()
    {
        await js.InvokeVoidAsync("closeModal", dialog);
    }
}
