.gallery {
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.gallery__filters {
    border-bottom: 1px solid #D5D5D5; 
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    width: max-content;
}

.gallery__filter {
    text-transform: uppercase;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.14em;
    color: #777777;
    padding: 0.625rem 0;
    position: relative;
    padding-right: 1.5em;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    transition: .2s ease;
}

    .gallery__filter span {
        display: block;
        width: 1.14em;
        height: 1.14em;
        position: absolute;
        top: 0;
        right: 0;
        font-size: inherit;
    }

    .gallery__filter:hover {
        cursor: pointer;
    }

    .gallery__filter.active {
        border-bottom: 2px solid #000;
    }

    .gallery__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, minmax(210px, 1fr));
        grid-template-areas:
            'one two three four'
            'one five seven seven'
            'six six seven seven'
            'eight nine ten ten';
        grid-gap: 30px;
        width: 100%;
        border: 2px solid red;
    }

.gallery__item {
    position: relative;
    height: 100%;
    border: 2px solid green;
}

    .gallery__items .gallery__item:nth-child(1) {
        grid-area: one;
    }

    .gallery__items .gallery__item:nth-child(2) {
        grid-area: two;
    }

    .gallery__items .gallery__item:nth-child(3) {
        grid-area: three;
    }

    .gallery__items .gallery__item:nth-child(4) {
        grid-area: four;
    }

    .gallery__items .gallery__item:nth-child(5) {
        grid-area: five;
    }

    .gallery__items .gallery__item:nth-child(6) {
        grid-area: six;
    }

    .gallery__items .gallery__item:nth-child(7) {
        grid-area: seven;
    }

    .gallery__items .gallery__item:nth-child(8) {
        grid-area: eight;
    }

    .gallery__items .gallery__item:nth-child(9) {
        grid-area: nine;
    }

    .gallery__items .gallery__item:nth-child(10) {
        grid-area: ten;
    }

.gallery__item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__show-more {
    font-size: 0.875rem;
    font-family: inherit;
    border: 1px solid #393246;
    background: transparent;
    padding: 1.43em 3.57em;
    color: #393246;
    text-transform: uppercase;
}

    .gallery__show-more:hover{
        cursor: pointer;
    }

    @media (max-width: 1024px) {
        .gallery {
        row-gap: 40px;
    }
}

@media (max-width: 768px){
    .gallery__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, minmax(290px, 1fr));
        grid-template-areas:
            'one two'
            'one three'
            'four five'
            'six six'
            'seven seven'
            'seven seven'
            'eight nine'
            'ten ten';
    }

    .gallery {
        row-gap: 30px;
    }
}

@media (max-width: 350px) {
    .gallery__items {
        grid-template-rows: repeat(11, minmax(290px, 1fr));
        grid-template-areas:
            'one'
            'one'
            'two'
            'three'
            'four'
            'five'
            'six'
            'seven'
            'eight'
            'nine'
            'ten';
        grid-gap: 10px;
    }

    .gallery__item{
        width: 100%;
    }
}

