.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    animation: .5s ease loading;
}

.gallery__filters {
    border-bottom: 1px solid #D5D5D5;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 3rem;
    max-width: 660px;
    grid-row-gap: 1rem;
}

.gallery__filter {
    text-transform: uppercase;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    font-family: inherit;
    letter-spacing: 0.14em;
    color: #777777;
    padding: 0.625rem 0;
    position: relative;
    padding-right: 1.5em;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    transition: .2s ease;
    white-space: nowrap;
}

    .gallery__filter span {
        display: block;
        width: 1.14em;
        height: 1.14em;
        position: absolute;
        top: 0;
        right: 0;
        font-size: inherit;
    }

    .gallery__filter:focus {
        outline: none;
    }

    .gallery__filter:hover {
        cursor: pointer;
    }

    .gallery__filter.active {
        border-bottom: 2px solid #000;
    }

.gallery__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(210px, 1fr));
    grid-template-areas:
        'one two three four'
        'one five seven seven'
        'six six seven seven'
        'eight nine ten ten';
    grid-gap: 30px;
    width: 100%;
}

.gallery__items_filtered {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 210px;
    grid-gap: 30px;
    width: 100%;
}

.gallery__item {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

    .gallery__items .gallery__item:nth-child(1) {
        grid-area: one;
    }

.gallery__items .gallery__item:nth-child(2) {
    grid-area: two;
}

.gallery__items .gallery__item:nth-child(3) {
    grid-area: three;
}

.gallery__items .gallery__item:nth-child(4) {
    grid-area: four;
}

.gallery__items .gallery__item:nth-child(5) {
    grid-area: five;
}

.gallery__items .gallery__item:nth-child(6) {
    grid-area: six;
}

.gallery__items .gallery__item:nth-child(7) {
    grid-area: seven;
}

.gallery__items .gallery__item:nth-child(8) {
    grid-area: eight;
}

.gallery__items .gallery__item:nth-child(9) {
    grid-area: nine;
}

.gallery__items .gallery__item:nth-child(10) {
    grid-area: ten;
}

.gallery__item a {
    position: absolute;
    top: -200%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 300;
    row-gap: 1em;
    transition: .7s ease;
    background: #000;
    opacity: 0.8;
}

    .gallery__item a span{
        font-size: 1.125rem;
    }

    .gallery__item a span:nth-child(1) {
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .gallery__item a img{
        position: static;
        width: 30px;
        height: 38px;
    }

    .gallery__item:hover a {
        top: 0;
    }

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__show-more {
    display: inline-block;
    font-size: 0.875rem;
    font-family: inherit;
    border: 1px solid #393246;
    padding: 1.43em 3.57em;
    color: #393246;
    text-transform: uppercase;
    transition: .4s ease;
    text-decoration: none;
}

    .gallery__show-more:hover {
        background-color: #393246;
        color: white;
    }

@media (max-width: 1024px) {
    .gallery {
        row-gap: 40px;
    }
}

@media (max-width: 768px) {
    .gallery__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, minmax(290px, 1fr));
        grid-template-areas:
            'one two'
            'one three'
            'four five'
            'six six'
            'seven seven'
            'seven seven'
            'eight nine'
            'ten ten';
    }

    .gallery__items_filtered {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        row-gap: 30px;
    }

    .gallery__filters {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 450px) {
    .gallery__filters {
        grid-template-columns: 1fr;
    }

    .gallery__items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, minmax(290px, 1fr));
        grid-template-areas:
            'one'
            'one'
            'two'
            'three'
            'four'
            'five'
            'six'
            'seven'
            'eight'
            'nine'
            'ten';
        grid-gap: 10px;
    }

    .gallery__items_filtered {
        grid-template-columns: 1fr;
    }
}

@keyframes loading {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
