@inject IJSRuntime js

<a class="logo" href="/" aria-label="На главную" @onclick="OnClick"></a>

@code{
    private async void OnClick()
    {
        await js.InvokeVoidAsync("setHeaderNoFixed");
    }
}