.menu{
    font-family: 'Roboto Condensed';
    font-weight: normal;
}

        .menu__items {
            display: flex;
            column-gap: 2.5rem;
            margin: 0;
            padding: 0;
            list-style-type: none;
            row-gap: 1.5rem;
            flex-wrap: wrap;
            justify-content: center;
        }

.menu__item {
    text-align: center;
    position: relative;
}

.menu__item:after{
    display: block;
    border: 1px solid red;
    width: 100%;
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: 0;
}

.menu__link {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: #FFF;
    white-space: nowrap;
}

.menu__link:focus{
    outline: none;
}

.menu.open .menu__link{
    color: #fff;
}