<nav class=@((open) ? "menu open" : "menu")>
    <ul class="menu__items">
        @foreach (LinkModel link in AppData.MenuLinks)
        {
            <li class="menu__item">
                <a class="menu__link" href="@link.Url" @onclick="MenuLinkClick" @onclick:stopPropagation>@link.Title</a>
            </li>
        }
    </ul>
</nav>

@code {
    private bool open = false;

    [Parameter]
    public EventCallback MenuLinkClick { get; set; }

    public void ToggleMenu()
    {
        open = !open;
        StateHasChanged();
    }
}