<div class=@((Order == Current) ? "spoiler open" : "spoiler")>
    <button class="spoiler__title" @onclick="()=> OnClick.InvokeAsync(Order)">
        @Item.Title
    </button>
    <div class="spoiler__content">@Item.Content</div>
</div>

@code {
    [CascadingParameter]
    public int Current { get; set; }
    [Parameter]
    public int Order { get; set; }
    [Parameter]
    public SpoilerModel Item { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }
}