<section class="contacts-section">
    <Container>
        <SectionTitle>Контакты</SectionTitle>
        <div class="contacts-section__content">
            <div class="contacts-section__form form">
                <h3 class="title">Напишите нам</h3>
                <p class="form__text">
                    Мы всегда рады ответить на интересующие  вас вопросы. Заполните форму и наш специалист свяжется с вами.
                </p>
                <RequestForm />
            </div>
            <div class="contacts-section__contacts">
                <h3 class="title">Наши контакты</h3>
                <Contacts />
            </div>
        </div>
    </Container>
</section>
