.contacts-section {
    padding: 50px 15px;
}

    .contacts-section ::deep .container {
        display: grid;
        grid-row-gap: 100px;
    }

    .contacts-section ::deep .section-title {
        text-align: center;
    }

.contacts-section__content {
    display: flex;
    column-gap: 8rem;
    justify-content: space-between;
}

.form {
    color: #777777;
    display: grid;
    row-gap: 1.875rem;
}

.title {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 300;
    letter-spacing: 0.08em;
    margin: 0;
}

.form__text {
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
}

.contacts-section__contacts {
    color: #777777;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

@media (max-width: 768px) {
    .contacts-section__content {
        flex-direction: column;
        row-gap: 70px;
    }
}

@media (max-width: 450px) {
    .contacts-section {
        padding: 25px 15px;
    }

    .contacts-section__content {
        row-gap: 25px;
    }

    .contacts-section ::deep .container {
        grid-row-gap: 50px;
    }

    .title {
        font-size: 1.25rem;
    }

    .form__text {
        font-size: 1rem;
    }
}
