<section class="not-found-section">
    <Container>
        <p class="not-found-section__code">404</p>
        <h4 class="not-found-section__title">Извините, страница не найдена!</h4>
        <p class="not-found-section__text">Такой страницы не существует или она была удалена</p>
        <a class="not-found-section__link" href="/">показать еще работы</a>
    </Container>
</section>

@code {

}
