<section class="portfolio-section">
    <Container>
        <SectionTitle >Портфолио</SectionTitle>
        <Gallery ShowMore="ShowMore"/>
    </Container>
</section>

@code{
    [Parameter]
    public bool ShowMore { get; set; }
}