.portfolio-section{
    padding: 0 15px;
}

.portfolio-section ::deep .section-title{
    text-align: center;
}

    .portfolio-section ::deep .container{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
    }

    @media (max-width: 768px){
        .portfolio-section ::deep .container {
            row-gap: 30px;
        }
    }