<section class="top-section">
    <img class="top-section__bg" src="images/header_bg.jpg" alt="Фон" />
    <div class="top-section__content">
        <h1 class="top-section__title" tabindex="-1">Ladesign</h1>
        <p class="top-section__subtitle">Дизайн-проекты жилых и коммерческих помещений. Малая архитектура</p>
    </div>
</section>

