.work-task-section {
    padding: 50px 15px;
}

    .work-task-section ::deep .container {
        display: flex;
        flex-direction: column;
        row-gap: 3.125rem;
    }

    .work-task-section ::deep .section-title{
        font-size: 1.875rem;
        max-width: 70%;
    }

.work-task-section__content {
    display: grid;
    grid-template-areas: 'task solution';
    grid-column-gap: 8.5%;
    grid-row-gap: 1.875rem;
    color: #777777;
}

    .work-task-section__content p, .work-task-section__content h3 {
        margin: 0;
    }

.work-task-section__task, .work-task-section__solution {
    grid-area: task;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.work-task-section__solution {
    grid-area: solution;
}

.work-task-section__title {
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.12em;
    line-height: 1.35;
}

    .work-task-section__title:not(:last-child) {
        margin-bottom: 1rem;
    }

.work-task-section__text {
    font-family: 'Roboto';
    line-height: 1.5;
}

@media (max-width: 768px){
    .work-task-section ::deep .container {
        row-gap: 1.875rem;
    }

    .work-task-section ::deep .section-title {
        max-width: unset;
    }
}

@media (max-width: 450px) {
    .work-task-section {
        padding: 25px 15px;
    }

        .work-task-section ::deep .section-title {
            font-size: 1.25rem;
        }

    .work-task-section__content {
        grid-template-areas: 'task' 'solution';
    }
}
