<section class="work-task-section">
    <Container>
        <SectionTitle>практичность и рациональное использование каждого квадратного метра</SectionTitle>
        <div class="work-task-section__content">
            <div class="work-task-section__task">
                <h3 class="work-task-section__title">Задача</h3>
                <p class="work-task-section__text">
                    В этой квартире для молодого человека много бетона, кирпича и натурального дерева. 
                    Это лофт в классическом понимании и с очень интересными деталями.
                </p>
            </div>
            <div class="work-task-section__solution">
                <h3 class="work-task-section__title">решение</h3>
                <p class="work-task-section__text">
                    В этой квартире для молодого человека много бетона, кирпича и натурального дерева. 
                    Это лофт в классическом понимании и с очень интересными деталями.
                </p>
                <p class="work-task-section__text">
                    В интерьере использовано довольно много различных материалов и текстур. 
                    Однако благодаря тому, что каждый материал применяется не единожды и находит 
                    себе продолжение в других помещениях, квартира смотрится цельным объёмом, 
                    где все текстуры дополняют друг друга и сочетаются между собой.
                </p>
            </div>
        </div>
    </Container>
</section>

@code {

}
