<section class="work-top-section">
    <img class="work-top-section__bg" src="images/work_top_bg.jpg" alt="Фон" />
    <div class="work-top-section__content">
        <h1 class="work-top-section__title" tabindex="-1">Loft</h1>
        <p class="work-top-section__subtitle">Unique collection</p>
    </div>
</section>

@code {

}
