.work-specifics-section {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 6.25rem;
}

.work-specifics-section__image {
    margin: 0 -15px;
    height: 800px;
}

    .work-specifics-section__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.work-specifics-section__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

    .work-specifics-section__content ::deep .section-title {
        font-size: 1.875rem;
    }

.work-specifics-section__text {
    color: #777777;
    font-size: 1rem;
    font-family: 'Roboto';
    line-height: 1.5;
    column-count: 2;
    column-gap: 30px;
}

    .work-specifics-section__text p {
        margin: 0 0 1rem 0;
        text-align: justify;
    }

.work-specifics-section__gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 380px;
    grid-gap: 1.875rem;
}

    .work-specifics-section__gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@media (max-width: 1024px) {
    .work-specifics-section__image {
        height: 600px;
    }

    .work-specifics-section__gallery {
        grid-auto-rows: 350px;
    }
}

@media (max-width: 768px) {
    .work-specifics-section__image {
        height: 500px;
    }

    .work-specifics-section__gallery {
        grid-auto-rows: 324px;
    }
}

@media (max-width: 450px) {
    .work-specifics-section {
        padding: 25px 15px;
    }

    .work-specifics-section__image {
        height: 250px;
    }

    .work-specifics-section {
        row-gap: 3.125rem;
    }

    .work-specifics-section__text {
        column-count: 1;
    }

    .work-specifics-section__gallery {
        grid-template-columns: auto;
        grid-auto-rows: 290px;
    }

    .work-specifics-section__content ::deep .section-title {
        font-size: 1.25rem;
    }
}
