<section class="work-similar-section">
    <Container>
        <SectionTitle>похожие проекты</SectionTitle>
        <Carousel Items="AppData.WorkCarouselImages" SlidesCount="4" Step="102"/>
    </Container>
</section>
